* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: #f4f4f9;
}

header {
    text-align: center;
}

.title {
    margin: 0px;
}

h1 {
    color: #1e90ff;
    font-size: 35px;
}

#middleUnderLine {
    text-decoration: line-through underline;
}

#strongText {
    font-weight: bold;
}

#spacingText {
    letter-spacing: 5px;
}