* {
    font-family: Arial, Helvetica, sans-serif;
}

.doctor-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(./content/user-doctor-solid-full.svg);
    background-size: contain;
}

.payment-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(./content/money-bill-solid-full.svg);
    background-size: contain;
}

.no_margin {
    margin: 0px;
}

body {
    background-color: rgba(187, 187, 187, 0.711);
}

section {
    background-color: white;
    display: inline-block;
    width: 550px;
    border-radius: 10px;
}

section .service {
    padding: 20px;
}

.status {
    display: inline-block;
    position: absolute;
    left: 380px;
    top: 50px;
    background-color: #ffe2b3;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    font-weight: bold;
    color: #b46b1b;
    font-size: 17px;
    border-radius: 20px;
    text-transform: uppercase;
}

h1 {
    color: #222222;
}

.name {
    color: #817f7c;
}

.name .info {
    color: #333333;
    font-weight: bold;
}

.cost {
    color: #817f7c;
}

.cost .info {
    color: #333333;
    font-weight: bold;
}

.process_bar p {
    font-weight: bold;
    font-size: large;
}

.bar .bar1 {
    display: inline-block;
    background-color: rgb(0, 224, 0);
    width: 400px;
    height: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bar .bar2 {
    display: inline-block;
    background-color: #eeeeee;
    width: 100px;
    height: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.desc {
    color: #817f7c;
}