* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

.doctorInfo {
    text-align: center;
}

footer {
    text-align: center;
}

.avatar {
    width: 250px;
    height: 300px;
}

.doctorInfo:hover {
    background-color: #e6f7ff;
}

.textColor {
    color: #1e90ff;
}