* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: #f4f8f6;
    height: 500px;
}

.item {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    vertical-align: middle;
}

.title {
    color: #1ed3ff;
    font-weight: bold;
    font-size: 20px;
}

.desc {
    color: #555555;
    font-size: 11px;
}