* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header {
    background-color: #FEF0E3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header .icon {
    font-size: 24px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

header nav a {
    text-decoration: none;
    color: black;

}

header nav a:nth-child(2) {
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px 15px;
}

/* main */

main .preview {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F9DBC1;
    border: solid black 1px;
    border-bottom: none;
}

main .preview > div,
main .preview > img {
    width: 50%;
    border-left: none;
    height: 100%;
}

    /* preview content */

    .preview .content {
        padding: 20px;
        display: flex;
        flex-direction: column;

        gap: 30px;
    }

    .preview .content .text_block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    /* exp */

    .preview .exp {
        display: flex;
        gap: 42px;
    }

    .preview .exp .exp_showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .preview .exp .exp_showcase .year {
        font-size: 45px;
    }

    .preview .exp .exp_showcase .about {
        line-height: 1.5;
    }

    .preview .content button {
        width: 40%;
        background-color: #AC82FC;
        border: solid black 1px;
        border-radius: 50px;
        padding: 10px;
        border-bottom: solid black 3px;
    }

/* main contact */

main .contact {
    background-color: #FFD7D4;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

    /* contact header */

    .contact .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        text-transform: uppercase;
    }

    .contact .title .title {
        font-size: 40px;
    }

    .contact .title .desc {
        width: 45%;
        text-align: center;
    }

    /* contact content */

    .contact .content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact .content .content_box {
        width: 30%;
        background-color: white;
        border-radius: 10px;
        border: black 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 5px;
    }

    .contact .content .content_box .icon {
        background-color: #AC82FC;
        padding: 5%;
        display: flex;
        width: 100px;
        height: 70px;
        border: 1px solid black;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }

    .contact .content .content_box .content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .contact .content .content_box .content p {
        text-align: left;
        padding: 0px;
    }


/* footer */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer p {
    color: white;
}

/* media */

@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    header nav a:nth-child(1) {
        display: none;
    }

    main .preview {
        flex-direction: column;
        border-top: solid black 2px ;
        border-bottom: none;
        border-right: none;
        border-left: none;
        padding: 10px;
    }

    main .preview > div,
    main .preview > img {
        width: 100%;
        border-left: none;
        height: 100%;
    }

    main .preview > img {
        width: 90%;
        border-top: black solid 2px;
        border-bottom: black solid 2px;
        order: -1;
    }

    .preview .content button {
        width: 100%;
    }

    .contact .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .contact .content .content_box {
        width: 100%;
        justify-content: start;
    }

}

/* global */

.bold {
    font-weight: bold;
}

.gray {
    color: #323232;
}