.div1 {
    background-color: blueviolet;
}

#div_riel1 {
    background-color: rebeccapurple;
    text-align: justify;
}

.title {
    letter-spacing: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    font-size: large;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline underline;
}