* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #C0392B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* preview */

main .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
}

main .preview .preview_text p {
    width: 200px;
}

main .preview img {
    width: 475px;
    height: 365px;
}

main .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

main .menu h2 {
    color: #C0392B;
}

main .menu .foods {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

main .menu .foods .food {
    background-color: #FFF9F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .menu .foods .food p {
    color: #C0392B;
    font-weight: bold;
}

main .menu .foods .food img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 298px;
    height: 180px;
}

/* footer */

footer {
    background-color: #2C2C2C;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    margin-top: 100px;
}