* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F1F5F9;
}

/* Head */

header .head {
    background-color: #0FA5E9;
    color: white;
    height: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}

header .head h1 {
    padding: 30px;
}

/* Head/nav */
header .navigate {
    text-align: center;
    margin: 10px;
}

header .navigate nav {
    background-color: #DFF2FE;
    display: inline-block;
    width: 99%;
    border-radius: 10px;
}

header .navigate nav a {
    color: #0269A1;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
}

header .navigate nav a:hover {
    color: white;
    background-color: #0269A1;
}

/* MAIN */

main .cover {
    text-align: center;
}

main #intro {
    background-color: white;
    padding: 2%;
    display: inline-block;
    width: 95%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 30px;
}

main #intro h2 {
    margin-bottom: 10px;
}

main #commit {
    background-color: #EBFEFF;
    border-left: solid 5px #0FA5E9;
    padding: 2%;
    display: inline-block;
    width: 95%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 30px;
}

main #commit h2 {
    margin-bottom: 10px;
}

main #commit ul {
    list-style: none;
}

footer .cover {
    background-color: #0F172A;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
}

footer .cover p {
    margin: 20px;
}
