* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: #00bfff;
}

input {
    outline: 1px solid #1e90ff;
}

textarea {
    outline: 1px solid #1e90ff;
}

form {
    text-align: center;
}