* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./img/Section.png);
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/* body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

/* register */

main .register {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #8B0000;
    color: white;
    gap: 10px;
    padding: 60px;
}

main .register form {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main .register form input {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #757575;
    padding: 5px;
}

main .register form button {
    width: 30%;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: #8B0000;
    padding: 5px;
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}